body {
  padding-top: 50px;
}

.head {background-image: URL(/res/img/love.jpg); width:500px; height:332px; max-width:100%; margin:auto;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
