body {
}

.head {background-image: URL(/res/img/love.jpg); width:100%; height:200px; max-width:500px; margin:0px;
background-size: 100% 100%;
background-repeat: no-repeat;}

.foot {width:100%; text-align:center;}
