body {
  padding-top: 50px;
}

.head {height:200px; width:100%;background-image: URL(/res/img/love.jpg);
background-size:100% 100%;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
