body {
  padding-top: 5px;
}

.head {background-image: URL(/res/img/love.jpg); width:100%; height:332px; max-width:100%; margin:auto;
background-position: center;
background-size:contain;
background-repeat: no-repeat;
background-attachment: fixed;}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
